<app-accueil></app-accueil>


<div style="text-align: center;">  <br><br><u style="font-size: 35px;">الاستقبال</u><br><br><br>
</div>
<div style="background: #ECECEC; padding: 30px;">
  <nz-row [nzGutter]="24">

    <nz-col [nzSpan]="8">
      <nz-card>
        <mat-icon  style="color:  #1A237E;" >center_focus_weak</mat-icon>&nbsp;<b  style="color:  #1A237E;">خصائص المواد</b>
      </nz-card>
    </nz-col>
    <nz-col [nzSpan]="8">
      <nz-card>
        <mat-icon  style="color:  #1A237E;" >apartment</mat-icon>&nbsp;<b  style="color:  #1A237E;">خصائص التحويل</b>
      </nz-card>
    </nz-col>
    <nz-col [nzSpan]="8">
      <nz-card>
        <mat-icon  style="color:  #1A237E;" >edit_location</mat-icon>&nbsp;<b  style="color:  #1A237E;">الجهات </b>
      </nz-card>
    </nz-col>
  </nz-row>
</div>



<div style="background: #ECECEC; padding: 30px;">
  <nz-row [nzGutter]="24">
    <nz-col [nzSpan]="8">

      <nz-card>
        <mat-icon  style="color:  #1A237E;" >api</mat-icon>&nbsp;<b  style="color:  #1A237E;">الثوابة الرئيسية</b>
      </nz-card>
    </nz-col>
    <nz-col [nzSpan]="8">
      <nz-card>
        <mat-icon  style="color:  #1A237E;" >tag_faces</mat-icon>&nbsp;<b  style="color:  #1A237E;">مستعملي المنظومة</b>
      </nz-card>
    </nz-col>
    <nz-col [nzSpan]="8">
      <nz-card>
        <mat-icon  style="color:  #1A237E;" >poll</mat-icon>&nbsp;<b  style="color:  #1A237E;">اللإحصائيات</b></nz-card>
    </nz-col>

  </nz-row>
</div>






