<app-accueil></app-accueil>
<div style="text-align: center;">  <br><br><u style="font-size: 35px;"> الإحصائيات</u><br><br><br></div>
<div style="background: #ECECEC; padding: 30px;">
  <nz-row [nzGutter]="16">
    <nz-col [nzSpan]="4">
      <nz-card>
        <mat-icon  style="color:  #1A237E;" >storage</mat-icon> &nbsp;<b  style="color:  #1A237E;"> قائمة المستعملين</b>
      </nz-card>
    </nz-col>
    <nz-col [nzSpan]="4">
      <nz-card>
        <mat-icon  style="color:  #1A237E;" >center_focus_weak</mat-icon>&nbsp;<b  style="color:  #1A237E;">المرحلة الحالية للإستغلال</b>
      </nz-card>
    </nz-col>
    <nz-col [nzSpan]="4">
      <nz-card>
        <mat-icon  style="color:  #1A237E;" >apartment</mat-icon>&nbsp;<b  style="color:  #1A237E;">بطاقة مؤسسة</b>
      </nz-card>
    </nz-col>
    <nz-col [nzSpan]="4">
      <nz-card>
        <mat-icon  style="color:  #1A237E;" >edit_location</mat-icon>&nbsp;<b  style="color:  #1A237E;">متابعة المستعملين</b>
      </nz-card>
    </nz-col>
    <nz-col [nzSpan]="4">
      <nz-card>
        <mat-icon  style="color:  #1A237E;" >poll</mat-icon>&nbsp;<b  style="color:  #1A237E;">الوضع الحالي للمنظومة</b>
      </nz-card>
    </nz-col>
    <nz-col [nzSpan]="4">
      <nz-card>
        <mat-icon  style="color:  #1A237E;" >api</mat-icon>&nbsp;<b  style="color:  #1A237E;">الوضع الحالي للمؤسسات</b>
      </nz-card>
    </nz-col>
  </nz-row>
</div>
