
<mat-toolbar style="background-color: #1A237E;">


    <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon">
   <button nz-button nz-popover nzType="primary" style="background-color: #1A237E;" [nzPopoverContent]="contentTemplate"> <mat-icon style="color: white ; ">account_circle</mat-icon></button>
    </button>
    <span class="example-spacer"></span>

    <div style="text-align: center;"><span style="color: white ; font-family: bold ; ">التصرف في المخزون</span></div>


    <span class="example-spacer"></span>


    <button mat-icon-button class="example-icon" aria-label="Example icon-button with share icon" (click)="open()">

      <mat-icon STYLE="color: white;" >menu</mat-icon>
    </button>
  </mat-toolbar>

  <nz-drawer [nzClosable]="false" [nzVisible]="visible33" nzPlacement="right"  (nzOnClose)="close()">

    <div style="text-align: center;"><h2 nzDanger ><u> التصرف في المخزون</u></h2></div>


    <ul nz-list  nzSize="large">



      <li nz-list-item  nzFlex>
        <button nz-button nzType="text" nzDanger routerLink="../etatmat" > 	<mat-icon  style="color:  #1A237E;" >center_focus_weak</mat-icon>&nbsp;<b  style="color:  #1A237E;">خصائص المواد</b></button>
      </li>

      <li nz-list-item  nzFlex>
        <button nz-button nzType="text" nzDanger  routerLink="../caractr" > 	<mat-icon  style="color:  #1A237E;" >apartment</mat-icon>&nbsp;<b  style="color:  #1A237E;" >خصائص التحويل</b></button>
      </li>

      <li nz-list-item  nzFlex>
        <button nz-button nzType="text" nzDanger routerLink="../principeP"  > 	<mat-icon  style="color:  #1A237E;" >api</mat-icon>&nbsp;<b  style="color:  #1A237E;">الثوابت الرئيسية </b></button>
      </li>
      <li nz-list-item  nzFlex >
        <button nz-button nzType="text" nzDanger  routerLink="../structures" > 	 <mat-icon  style="color:  #1A237E;" >storage</mat-icon> &nbsp;<b  style="color:  #1A237E;"> الهياكل </b></button>
      </li>
      <li nz-list-item  nzFlex >
        <button nz-button nzType="text" nzDanger  routerLink="../fournisseurs" > 	   <mat-icon  style="color:  #1A237E;" >apartment</mat-icon>&nbsp;<b  style="color:  #1A237E;">المزودون</b></button>
      </li>
      <li nz-list-item  nzFlex>
        <button nz-button nzType="text" nzDanger  routerLink="../magasin" >  <span class="material-icons" style="color:  #1A237E;">store_mall_directory</span>&nbsp;
          <b  style="color:  #1A237E;">مغازة</b></button>
      </li>

      <li nz-list-item  nzFlex>
        <button nz-button nzType="text" nzDanger routerLink="../userSys" > 	 <mat-icon  style="color:  #1A237E;" >tag_faces</mat-icon>&nbsp;<b  style="color:  #1A237E;">مستعملو المنظومة</b></button>
      </li>


      <li nz-list-item  nzFlex>
        <button nz-button nzType="text" nzDanger  routerLink="../personalisation" > 	<mat-icon  style="color:  #1A237E;" >poll</mat-icon>&nbsp;<b  style="color:  #1A237E;">تخصيص إدارة المنظومة</b></button>
      </li>

      
    </ul>




  </nz-drawer>

  <ng-template #contentTemplate>
    <div>
      <nz-card style="width:300px;" [nzCover]="coverTemplate" [nzActions]="[actionSetting, actionEdit, actionEllipsis]">
        <nz-card-meta nzTitle="Farah Reggui" nzDescription="Ingénieure informatique" [nzAvatar]="avatarTemplate"></nz-card-meta>
      </nz-card>
      <ng-template #avatarTemplate>
        <nz-avatar nzSrc="https://scontent.ftun9-1.fna.fbcdn.net/v/t1.6435-9/47227147_2148785315448813_388039248537714688_n.jpg?_nc_cat=100&ccb=1-3&_nc_sid=174925&_nc_ohc=k8BdgBrouG8AX87QKmH&_nc_ht=scontent.ftun9-1.fna&oh=bf1d46376b3a9878a388b3d4696bd676&oe=60B2D805"></nz-avatar>
      </ng-template>

      <ng-template #actionSetting> 
        <i nz-icon nzType="setting" (click)="showModal1(data)"></i>
      </ng-template>

      <ng-template #actionEllipsis>
        <i nz-icon nzType="login" routerLink="../"> </i>
      </ng-template>

    </div>
  </ng-template>


  <nz-modal [(nzVisible)]="isVisible1" [nzTitle]="titleTemplate1 "  (nzOnCancel)="handleCancel1()" (nzOnOk)="handleOk1()" nzWidth="900px">
    <nz-tabset>
    <nz-tab>

    <div nz-row >
  
      <div nz-col nzSpan="24">
  
    <div>
      <nz-input-group  nzAddOnAfter="الأسم">
        <input type="text" [(ngModel)]="PrenomU"  nz-input  disabled/>
      </nz-input-group>
    </div>
  
    <br>
  
    <div>
      <nz-input-group  nzAddOnAfter="اللّقب">
        <input type="text" [(ngModel)]="NomU" nz-input  disabled/>
      </nz-input-group>
    </div>
  
    <br>
  
    <div>
      <nz-input-group  nzAddOnAfter="رقم بطاقة التعريف">
        <input type="text" [(ngModel)]="CinU" nz-input  disabled/>
      </nz-input-group>
    </div>
  
        <br>
  
        <div>
          <nz-input-group  nzAddOnAfter="البريد">
            <input type="text" [(ngModel)]="EmailU" nz-input  disabled/>
          </nz-input-group>
        </div>
  
        <br>
  
        <div>
          <nz-input-group  nzAddOnAfter="الهاتف">
            <input type="text" [(ngModel)]="TelU" nz-input  disabled/>
          </nz-input-group>
        </div>
  
        <br>
    
        <div>
          <nz-input-group  nzAddOnAfter="كلمة المرور">
            <input type="password" [(ngModel)]="PasswordU" nz-input disabled />
          </nz-input-group>
        </div>
        <br>
        
        <div>
          <button nz-button nzType="default" (click)="handleCancel1()" > اغلاق</button>&nbsp;&nbsp;
          <button nz-button nzType="default" (click)="showModal11()" > تعديل</button>

        </div>
  
  
  
      </div>
      <div nz-col nzSpan="1"></div>
  
    
    </div>
  </nz-tab>
</nz-tabset>
  </nz-modal>
  <ng-template #titleTemplate1>
    <div style="text-align: center;">استعراض معطيات المستعمل</div>
  </ng-template>


  <!-- update-->
  <nz-modal [(nzVisible)]="isVisible11" [nzTitle]="titleTemplate11 "  (nzOnCancel)="handleCancel11()" (nzOnOk)="handleOk11()" nzWidth="900px">

    <div nz-row >
  
      <div nz-col nzSpan="24">
       
    <br>
  
    <div>
      <nz-input-group  nzAddOnAfter="الأسم">
        <input type="text" [(ngModel)]="PrenomU"  nz-input  class="required-field"/>
      </nz-input-group>
    </div>
  
    <br>
  
    <div>
      <nz-input-group  nzAddOnAfter="اللّقب">
        <input type="text" [(ngModel)]="NomU" nz-input  />
      </nz-input-group>
    </div>
  
    <br>
  
    <div>
      <nz-input-group  nzAddOnAfter="رقم بطاقة التعريف">
        <input type="text" [(ngModel)]="CinU" nz-input  />
      </nz-input-group>
    </div>
  
        <br>
  
        <div>
          <nz-input-group  nzAddOnAfter="البريد">
            <input type="text" [(ngModel)]="EmailU" nz-input  />
          </nz-input-group>
        </div>
  
        <br>
  
        <div>
          <nz-input-group  nzAddOnAfter="الهاتف">
            <input type="text" [(ngModel)]="TelU" nz-input  />
          </nz-input-group>
        </div>
  
        <br>
    
        <div>
          <nz-input-group  nzAddOnAfter="كلمة المرور">
            <input type="password" [(ngModel)]="PasswordU" nz-input  />
          </nz-input-group>
        </div>
        <br>
        <div>
          <nz-input-group  nzAddOnAfter="تاكيد كلمة المرور" [ngClass]="{'match': PasswordU === PasswordConfirmU, 'mismatch': PasswordU !== PasswordConfirmU}">
            <input type="password" [(ngModel)]="PasswordConfirmU" nz-input required />
          </nz-input-group>
          <div class="message" *ngIf="PasswordU !== PasswordConfirmU">
            تاكد من كلمة المرور
          </div>
        </div>
        <br>
        <div>
          <button nz-button nzType="default"  > تحيين</button>
        </div>
  
  
  
      </div>
      <div nz-col nzSpan="1"></div>
  
    
    </div>
  </nz-modal>
  <ng-template #titleTemplate11>
    <div style="text-align: center;"> تعديل مستعمل</div>
  </ng-template>
  

 
  
  
  
 
  
  

  
  
  